body{
  background-color: lightgrey;
}
h1{
  background-color: gray;
  color: chartreuse;
  text-align: center;
  border-radius: 50px;
  
}
h1:hover{
  background-color: chartreuse;
  color: gray;
}

h3{
  background-color: rgb(37, 17, 221);
  color: azure;
  text-align: center;
  margin: 20px 400px;
  border-radius: 30px;
  animation: changecolor 2s infinite alternate;
}
@keyframes changecolor{
  from { background-color: rgb(17, 139, 221);}
  to { background-color: rgb(243, 9, 40);}
}
img{
  width:100%;
  height:100%;
}